{% extends 'base.html' %}

{% block title %}Delete Post{% endblock title %}

{% block content %}
<!--     <h1>Delete Post</h1>
    <p>Are you sure "{{post.title}}"?</p>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-succes" value="Confirm">
    </form>
-->
    <div class="form">
        <form method="POST">    
            <h1>Delete Post</h1>
            <p class="p-delete">Are you sure to "{{post.title}}" delete?</p>
            {% csrf_token %}
            <button type="submit" class="btn-delete" value="Confirm">Delete</button>
        </form>
    </div>

{% endblock content %}