{% extends 'base.html' %}

{% block title %}Update Post{% endblock title %}

{% block content %}

<!--     <h1>Edit Post</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" class="btn btn-succes" value="Edit">
    </form>
-->
    
    <div class="form">
        <form method="POST">    
            <h1>Edit Post</h1>
            {% csrf_token %}
            {{ form.as_p}}
            <!--<button type="submit" class="btn btn-succes" value="Create">-->
            <button type="submit" class="btn btn-succes" value="Edit">Edit</button>
        </form>
    </div>
{% endblock content %}